
<ul class="nav nav-dark justify-content-end">  
  <!-- <li class="nav-item nav-brand">
    <a class="" href="#">Troy Clarke</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Resume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link active" href="/articles/new">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
</ul>
